# Tarea

## Punto 1

El siguiente informe debe ser presentado usando Jupyter Book. Por lo tanto, la entrega realizada corresponde a un link de una página de GitHub similar a la del presente curso. Debe crear una conexión con pgAdmin para mostrar las tablas creadas, agregar imágenes.

## Punto 2

Crear una instancia de base de datos en Docker la cual utilizará para la solución de los siguientes ejercicios. Luego de finalizar con cada una de las consultas requeridas, deberá exportar la imagen de la base de datos a un archivo nombrado como, primernombre_primerapellido_imagendocker.tar, ejemplo: lihki_rubio_imagendocker.tar.

## Punto 3

La imagen Docker y la base de datos que debe crear debe contar con la siguiente información de conexión. Nótese que debe usar la contraseña password.

Host: localhost

Port: 5342

Database Name: myname_db

User Name: myname_user

Password: password

## Punto 4

Cada una de las siguientes consultas deben ser realizadas desde Python usando la API psycopg2. Por lo tanto, debe crear una conexión y un cursor previamente para realizar cada una de las siguientes consultas:

In [1]:
import psycopg2
from psycopg2 import Error

In [2]:
try:
    connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )

    cursor = connection.cursor()
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")

    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)
finally:
    if (connection):
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

PostgreSQL server information
{'user': 'julian_acevedo_user', 'channel_binding': 'prefer', 'dbname': 'julian_acevedo_db', 'host': 'localhost', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslcertmode': 'allow', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'gssdelegation': '0', 'target_session_attrs': 'any', 'load_balance_hosts': 'disable'}

You are connected to -  ('PostgreSQL 16.0 (Debian 16.0-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit',)

PostgreSQL connection is closed

### Punto 4.1.

Crear la tabla nombrada: employees y explicar que tarea realiza la consulta realizada y mostrar en pantalla la tabla

In [3]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute('''DROP TABLE IF EXISTS employees''')
cursor.execute('''CREATE TABLE employees
                ( employee_id INTEGER
                , first_name VARCHAR(20)
                , last_name VARCHAR(25)
                , email VARCHAR(25)
                , phone_number VARCHAR(20)
                , hire_date DATE
                , job_id VARCHAR(10)
                , salary NUMERIC(8,2)
                , commission_pct NUMERIC(2,2)
                , manager_id INTEGER
                , department_id INTEGER
                ) ;
''')
cursor.execute('''CREATE UNIQUE INDEX emp_emp_id_pk
               ON employees (employee_id) ;''')
cursor.execute('''ALTER TABLE employees ADD PRIMARY KEY (employee_id);''')
print("Table created successfully")

connection.commit()
connection.close()

Table created successfully

In [4]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute('''SELECT * FROM employees LIMIT 10;''')
cursor.execute('''SELECT count(1) FROM employees;''')

In [5]:
#cursor.execute("INSERT INTO employees (first_name) VALUES ('Julian')");
test=cursor.execute('''SELECT * FROM employees LIMIT 10;
SELECT count(1) FROM employees;''')
print(test)

None

### Punto 4.2.

Crear la tabla courses con las siguientes columnas:

In [6]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute('''DROP TABLE IF EXISTS courses''')
cursor.execute('''CREATE TABLE courses
                ( course_id SERIAL PRIMARY KEY
                , course_name VARCHAR(60)
                , course_author VARCHAR(40)
                , course_status VARCHAR(10)
                , course_published_dt DATE
                ) ;
''')

print("Table created successfully")

connection.commit()
connection.close()

Table created successfully

### Punto 4.3.

Inserte los datos en courses utilizando los datos proporcionados. Asegúrese de que el id es generado por el sistema. No olvide refrescar la información de la base de datos.

In [7]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute("INSERT INTO courses (course_name, course_author, course_status, course_published_dt) VALUES ('Programming using Python', 'Bob Dillon', 'published', '2020-09-30')");
cursor.execute("INSERT INTO courses (course_name, course_author, course_status, course_published_dt) VALUES ('Data Engineering using Python', 'Bob Dillon', 'published', '2020-07-15')");
cursor.execute("INSERT INTO courses (course_name, course_author, course_status) VALUES ('Data Engineering using Scala', 'Elvis Presly', 'draft')");
cursor.execute("INSERT INTO courses (course_name, course_author, course_status, course_published_dt) VALUES ('Programming using Scala', 'Elvis Presly', 'published','2020-05-12')");
cursor.execute("INSERT INTO courses (course_name, course_author, course_status, course_published_dt) VALUES ('Programming using Java', 'Mike Jack', 'inactive', '2020-08-10')");
cursor.execute("INSERT INTO courses (course_name, course_author, course_status, course_published_dt) VALUES ('Web Applications-Python Flask', 'Bob Dillon', 'inactive', '2020-07-20')");
cursor.execute("INSERT INTO courses (course_name, course_author, course_status) VALUES ('Web Applications-Java Spring', 'Mike Jack', 'draft')");
cursor.execute("INSERT INTO courses (course_name, course_author, course_status) VALUES ('Pipeline Orchestraction-Python', 'Bob Dillon', 'draft')");
cursor.execute("INSERT INTO courses (course_name, course_author, course_status, course_published_dt) VALUES ('Streaming Pipelines-Python', 'Bob Dillon', 'published','2020-10-05')");
cursor.execute("INSERT INTO courses (course_name, course_author, course_status, course_published_dt) VALUES ('Web Applications Scala Play', 'Elvis Presly', 'inactive','2020-09-30')");
cursor.execute("INSERT INTO courses (course_name, course_author, course_status, course_published_dt) VALUES ('Web Application-Python Django', 'Bob Dillon', 'published','2020-06-23')");
cursor.execute("INSERT INTO courses (course_name, course_author, course_status, course_published_dt) VALUES ('Server Automation-Ansible', 'Uncle Sam', 'published','2020-07-05')");

connection.commit()
print("Records created successfully")
connection.close()

Records created successfully

### Punto 4.4.

Borre todos los cursos que no estén en modo borrador ni publicados. Proporcione la sentencia de borrado como respuesta para este ejercicio en el Jupyter Book. Para validar, obtenga el recuento de todos los cursos publicados por autor y asegúrese de que la salida está ordenada en forma descendente por recuento.

In [8]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute("DELETE \
                FROM courses \
                WHERE course_status ='inactive'" )
connection.commit()
print("Total number of rows deleted :", cursor.rowcount)
#rows = cursor.fetchall()

# for row in rows:
#     print("id = ", row[0])
#     print("name = ", row[1])
#     print("address = ", row[2])
#     print("salary = ", row[3], "\n")

print("Operation done successfully")
connection.close()

Total number of rows deleted : 3
Operation done successfully

In [9]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute('''SELECT course_author, COUNT(*) 
                FROM courses
                GROUP BY course_author
                ORDER BY course_author ASC''')
rows = cursor.fetchall()
print("Courses by author:")
for row in rows:
    author = row[0]
    count = row[1]
    print(f"Author: {author}, Count: {count}")

Courses by author:
Author: Bob Dillon, Count: 5
Author: Elvis Presly, Count: 2
Author: Mike Jack, Count: 1
Author: Uncle Sam, Count: 1

### Punto 4.5.

Crear la base de datos users

In [10]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute('''DROP TABLE IF EXISTS users''')
cursor.execute('''CREATE TABLE users
                ( user_id SERIAL PRIMARY KEY,
                  user_first_name VARCHAR(30),
                  user_last_name VARCHAR(30),
                  user_email_id VARCHAR(50),
                  user_gender VARCHAR(1),
                  user_unique_id VARCHAR(15),
                  user_phone_no VARCHAR(20),
                  user_dob DATE,
                  created_ts TIMESTAMP
                ) ;
''')

print("Table created successfully")

connection.commit()
connection.close()

Table created successfully

Inserte los siguientes valores

In [11]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute('''insert into users (
    user_first_name, user_last_name, user_email_id, user_gender, 
    user_unique_id, user_phone_no, user_dob, created_ts
) VALUES
    ('Giuseppe', 'Bode', 'gbode0@imgur.com', 'M', '88833-8759', 
     '+86 (764) 443-1967', '1973-05-31', '2018-04-15 12:13:38'),
    ('Lexy', 'Gisbey', 'lgisbey1@mail.ru', 'F', '262501-029', 
     '+86 (751) 160-3742', '2003-05-31', '2020-12-29 06:44:09'),
    ('Karel', 'Claringbold', 'kclaringbold2@yale.edu', 'F', '391-33-2823', 
     '+62 (445) 471-2682', '1985-11-28', '2018-11-19 00:04:08'),
    ('Marv', 'Tanswill', 'mtanswill3@dedecms.com', 'F', '1195413-80', 
     '+62 (497) 736-6802', '1998-05-24', '2018-11-19 16:29:43'),
    ('Gertie', 'Espinoza', 'gespinoza4@nationalgeographic.com', 'M', '471-24-6869', 
     '+249 (687) 506-2960', '1997-10-30', '2020-01-25 21:31:10'),
    ('Saleem', 'Danneil', 'sdanneil5@guardian.co.uk', 'F', '192374-933', 
     '+63 (810) 321-0331', '1992-03-08', '2020-11-07 19:01:14'),
    ('Rickert', 'O''Shiels', 'roshiels6@wikispaces.com', 'M', '749-27-47-52', 
     '+86 (184) 759-3933', '1972-11-01', '2018-03-20 10:53:24'),
    ('Cybil', 'Lissimore', 'clissimore7@pinterest.com', 'M', '461-75-4198', 
     '+54 (613) 939-6976', '1978-03-03', '2019-12-09 14:08:30'),
    ('Melita', 'Rimington', 'mrimington8@mozilla.org', 'F', '892-36-676-2', 
     '+48 (322) 829-8638', '1995-12-15', '2018-04-03 04:21:33'),
    ('Benetta', 'Nana', 'bnana9@google.com', 'M', '197-54-1646', 
     '+420 (934) 611-0020', '1971-12-07', '2018-10-17 21:02:51'),
    ('Gregorius', 'Gullane', 'ggullanea@prnewswire.com', 'F', '232-55-52-58', 
     '+62 (780) 859-1578', '1973-09-18', '2020-01-14 23:38:53'),
    ('Una', 'Glayzer', 'uglayzerb@pinterest.com', 'M', '898-84-336-6', 
     '+380 (840) 437-3981', '1983-05-26', '2019-09-17 03:24:21'),
    ('Jamie', 'Vosper', 'jvosperc@umich.edu', 'M', '247-95-68-44', 
     '+81 (205) 723-1942', '1972-03-18', '2020-07-23 16:39:33'),
    ('Calley', 'Tilson', 'ctilsond@issuu.com', 'F', '415-48-894-3', 
     '+229 (698) 777-4904', '1987-06-12', '2020-06-05 12:10:50'),
    ('Peadar', 'Gregorowicz', 'pgregorowicze@omniture.com', 'M', '403-39-5-869', 
     '+7 (267) 853-3262', '1996-09-21', '2018-05-29 23:51:31'),
    ('Jeanie', 'Webling', 'jweblingf@booking.com', 'F', '399-83-05-03', 
     '+351 (684) 413-0550', '1994-12-27', '2018-02-09 01:31:11'),
    ('Yankee', 'Jelf', 'yjelfg@wufoo.com', 'F', '607-99-0411', 
     '+1 (864) 112-7432', '1988-11-13', '2019-09-16 16:09:12'),
    ('Blair', 'Aumerle', 'baumerleh@toplist.cz', 'F', '430-01-578-5', 
     '+7 (393) 232-1860', '1979-11-09', '2018-10-28 19:25:35'),
    ('Pavlov', 'Steljes', 'psteljesi@macromedia.com', 'F', '571-09-6181', 
     '+598 (877) 881-3236', '1991-06-24', '2020-09-18 05:34:31'),
    ('Darn', 'Hadeke', 'dhadekej@last.fm', 'M', '478-32-02-87', 
     '+370 (347) 110-4270', '1984-09-04', '2018-02-10 12:56:00'),
    ('Wendell', 'Spanton', 'wspantonk@de.vu', 'F', null, 
     '+84 (301) 762-1316', '1973-07-24', '2018-01-30 01:20:11'),
    ('Carlo', 'Yearby', 'cyearbyl@comcast.net', 'F', null, 
     '+55 (288) 623-4067', '1974-11-11', '2018-06-24 03:18:40'),
    ('Sheila', 'Evitts', 'sevittsm@webmd.com', null, '830-40-5287',
     null, '1977-03-01', '2020-07-20 09:59:41'),
    ('Sianna', 'Lowdham', 'slowdhamn@stanford.edu', null, '778-0845', 
     null, '1985-12-23', '2018-06-29 02:42:49'),
    ('Phylys', 'Aslie', 'paslieo@qq.com', 'M', '368-44-4478', 
     '+86 (765) 152-8654', '1984-03-22', '2019-10-01 01:34:28')''');

connection.commit()
print("Records created successfully")
connection.close()

Records created successfully

### Punto 4.6

Obtenga el número de usuarios creados por año. Utilice la tabla de usuarios para este ejercicio.

- La salida debe contener el año de 4 dígitos y el recuento.

- Use funciones específicas de fecha para obtener el año usando created_ts.

- Asegúrese de definir alias a las columnas como created_year y user_count respectivamente.

- Los datos deben ordenarse de forma ascendente por created_year.

- Cuando ejecutes la consulta usando el entorno Jupyter, puede que tenga decimales para los enteros. Por lo tanto, puede mostrar los resultados incluso con decimales.

In [12]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute('''SELECT EXTRACT(YEAR FROM created_ts) AS created_year, 
                    COUNT(*) AS user_count
                    FROM users 
                    GROUP BY created_year
                    ORDER BY created_year ASC
                                ''')
rows = cursor.fetchall()

for row in rows:
        created_year = row[0]
        user_count = row[1]
        print(f"Year: {created_year}, Count: {user_count}")

connection.commit()
connection.close()

Year: 2018, Count: 13
Year: 2019, Count: 4
Year: 2020, Count: 8

### Punto 4.7.

Obtenga los días de nacimiento de todos los usuarios nacidos en el mes May.

- Utilice la tabla users para este ejercicio.

- La salida debe contener user_id, user_dob, user_email_id y user_day_of_birth.

- Utilice funciones específicas de fecha para obtener el mes utilizando user_dob.

- user_day_of_birth debe ser un día completo con el primer carácter en mayúsculas, por ejemplo Tuesday.

- Los datos deben ordenarse por día dentro del mes May.

In [13]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute('''SELECT  user_id,
                          user_dob,
                          user_email_id,
                          TO_CHAR(user_dob, 'Day') AS user_day_of_birth
                    FROM users
                    WHERE EXTRACT(MONTH FROM user_dob) = 5
                    ORDER BY EXTRACT(DAY FROM user_dob)''')

rows = cursor.fetchall()

for row in rows:
        user_id = row[0]
        user_dob = row[1]
        user_email_id = row[2]
        user_day_of_birth = row[3].strip()  # Usamos strip() para eliminar espacios en blanco que PostgreSQL agrega automáticamente
        print(f"User_id: {user_id}, user dob: {user_dob}, user_email_id: {user_email_id}, user_day_of_birth: {user_day_of_birth}")
        
connection.commit()
connection.close()

User_id: 4, user dob: 1998-05-24, user_email_id: mtanswill3@dedecms.com, user_day_of_birth: Sunday
User_id: 12, user dob: 1983-05-26, user_email_id: uglayzerb@pinterest.com, user_day_of_birth: Thursday
User_id: 1, user dob: 1973-05-31, user_email_id: gbode0@imgur.com, user_day_of_birth: Thursday
User_id: 2, user dob: 2003-05-31, user_email_id: lgisbey1@mail.ru, user_day_of_birth: Saturday

### Punto 4.8.

Obtenga los nombres e ids de correo electrónico de los usuarios añadidos en el año 2019.

- Utilice la tabla users para este ejercicio.

- La salida debe contener user_id, user_name, user_email_id, created_ts, created_year.

- Utilice funciones específicas de fecha para obtener el año utilizando created_ts.

- user_name es una columna derivada de concatenar user_first_name y user_last_name con un espacio en medio.

- user_name debe tener valores en mayúsculas.

- Los datos deben ordenarse en forma ascendente por user_name

In [14]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute('''SELECT user_id,
                    UPPER(user_first_name || ' ' || user_last_name) AS user_name,
                    user_email_id,
                    created_ts,
                    EXTRACT(YEAR FROM created_ts) AS created_year
                    FROM users
                    WHERE EXTRACT(YEAR FROM created_ts) = 2019
                    ORDER BY user_name ASC;''')

rows = cursor.fetchall()

for row in rows:
        user_id = row[0]
        user_name = row[1]
        user_email_id = row[2]
        created_ts = row[3]
        created_year = row[4]
        print(f"User ID: {user_id}, User Name: {user_name}, Email ID: {user_email_id}, Created Timestamp: {created_ts}, Created Year: {created_year}")


connection.commit()
connection.close()

User ID: 8, User Name: CYBIL LISSIMORE, Email ID: clissimore7@pinterest.com, Created Timestamp: 2019-12-09 14:08:30, Created Year: 2019
User ID: 25, User Name: PHYLYS ASLIE, Email ID: paslieo@qq.com, Created Timestamp: 2019-10-01 01:34:28, Created Year: 2019
User ID: 12, User Name: UNA GLAYZER, Email ID: uglayzerb@pinterest.com, Created Timestamp: 2019-09-17 03:24:21, Created Year: 2019
User ID: 17, User Name: YANKEE JELF, Email ID: yjelfg@wufoo.com, Created Timestamp: 2019-09-16 16:09:12, Created Year: 2019

### Punto 4.9.

Obtenga el número de usuarios por género. Utilice la tabla de users para este ejercicio.

- La salida debe contener el gender y user_count.

- Para los hombres la salida debe mostrar Male y para las mujeres la salida debe mostrar Female.

- Si no se especifica el sexo, se mostrará Not Specified

- Los datos deben ordenarse en forma descendente por user_count.

In [15]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute('''SELECT 
               CASE 
                    WHEN user_gender = 'M' THEN 'Male'
                    WHEN user_gender = 'F' THEN 'Female'
                    ELSE 'Not Specified'
                END AS formatted_gender,
                COUNT(*) AS user_count
                FROM users
                GROUP BY formatted_gender
                ORDER BY user_count DESC''')

rows = cursor.fetchall()

for row in rows:
        formatted_gender = row[0]
        user_count = row[1]
        print(f"Gender: {formatted_gender}, User Count: {user_count}")


connection.commit()
connection.close()

Gender: Female, User Count: 13
Gender: Male, User Count: 10
Gender: Not Specified, User Count: 2

### Punto 4.10.

Obtenga los 4 últimos dígitos de los ids únicos.

- Utilice la tabla users para este ejercicio.

- El resultado debe contener user_id, user_unique_id y user_unique_id_last4.

- Los identificadores únicos son null o not null.

- Los identificadores únicos contienen números y guiones y son de diferente longitud.

- Necesitamos obtener los últimos 4 dígitos descartando los guiones sólo cuando el número de dígitos es al menos 9.

- Si el identificador único es nulo, debe mostrarse Not Specified.

- Después de descartar los guiones, si el identificador único tiene menos de 9 dígitos, debe mostrar Invalid Unique Id.

- Los datos deben ordenarse por user_id. Es posible que aparezca None o null para aquellos identificadores de usuario en los que no haya un identificador único para user_unique_id.

In [16]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute('''SELECT user_id,
                    user_unique_id,
                    CASE 
                        WHEN user_unique_id IS NULL THEN 'Not Specified'
                        WHEN LENGTH(REPLACE(user_unique_id, '-', '')) < 9 THEN 'Invalid Unique Id'
                        ELSE RIGHT(REPLACE(user_unique_id, '-', ''), 4)
                    END AS user_unique_id_last4
                  FROM users
                  ORDER BY user_id''')

rows = cursor.fetchall()

for row in rows:
        user_id = row[0]
        user_unique_id = row[1]
        user_unique_id_last4 = row[2]
        print(f"User ID: {user_id}, Unique ID: {user_unique_id}, Last 4 Digits: {user_unique_id_last4}")


connection.commit()
connection.close()

User ID: 1, Unique ID: 88833-8759, Last 4 Digits: 8759
User ID: 2, Unique ID: 262501-029, Last 4 Digits: 1029
User ID: 3, Unique ID: 391-33-2823, Last 4 Digits: 2823
User ID: 4, Unique ID: 1195413-80, Last 4 Digits: 1380
User ID: 5, Unique ID: 471-24-6869, Last 4 Digits: 6869
User ID: 6, Unique ID: 192374-933, Last 4 Digits: 4933
User ID: 7, Unique ID: 749-27-47-52, Last 4 Digits: 4752
User ID: 8, Unique ID: 461-75-4198, Last 4 Digits: 4198
User ID: 9, Unique ID: 892-36-676-2, Last 4 Digits: 6762
User ID: 10, Unique ID: 197-54-1646, Last 4 Digits: 1646
User ID: 11, Unique ID: 232-55-52-58, Last 4 Digits: 5258
User ID: 12, Unique ID: 898-84-336-6, Last 4 Digits: 3366
User ID: 13, Unique ID: 247-95-68-44, Last 4 Digits: 6844
User ID: 14, Unique ID: 415-48-894-3, Last 4 Digits: 8943
User ID: 15, Unique ID: 403-39-5-869, Last 4 Digits: 5869
User ID: 16, Unique ID: 399-83-05-03, Last 4 Digits: 0503
User ID: 17, Unique ID: 607-99-0411, Last 4 Digits: 0411
User ID: 18, Unique ID: 430-01-578-5, Last 4 Digits: 5785
User ID: 19, Unique ID: 571-09-6181, Last 4 Digits: 6181
User ID: 20, Unique ID: 478-32-02-87, Last 4 Digits: 0287
User ID: 21, Unique ID: None, Last 4 Digits: Not Specified
User ID: 22, Unique ID: None, Last 4 Digits: Not Specified
User ID: 23, Unique ID: 830-40-5287, Last 4 Digits: 5287
User ID: 24, Unique ID: 778-0845, Last 4 Digits: Invalid Unique Id
User ID: 25, Unique ID: 368-44-4478, Last 4 Digits: 4478

### Punto 4.11.

Obtenga el recuento de usuarios en función del código de país.

- Utilice la tabla users para este ejercicio.

- La salida debe contener el código de país y el recuento.

- No debe haber ningún + en el código de país. Sólo debe contener dígitos.

- Los datos deben ordenarse como números por código de país.

- Debemos descartar user_phone_no con valores null.

In [17]:
import psycopg2

connection = psycopg2.connect(database="julian_acevedo_db",  
                                    user="julian_acevedo_user", 
                                    password="password", 
                                    host="localhost", 
                                    port="5432"
                                )
cursor = connection.cursor()

cursor.execute('''SELECT SUBSTRING(user_phone_no FROM '^\\+([0-9]+)') country_code, 
                  COUNT(*) AS user_count
                  FROM users
                  WHERE user_phone_no IS NOT NULL AND user_phone_no ~ '^\\+[0-9]+'
                  GROUP BY country_code
                  ORDER BY country_code DESC''')

rows = cursor.fetchall()
#print(rows)
for row in rows:
         country_code = row[0]
         user_count = row[1]
         print(f"Country Code: {country_code}, User Count: {user_count}")

connection.commit()
connection.close()

Country Code: 86, User Count: 4
Country Code: 84, User Count: 1
Country Code: 81, User Count: 1
Country Code: 7, User Count: 2
Country Code: 63, User Count: 1
Country Code: 62, User Count: 3
Country Code: 598, User Count: 1
Country Code: 55, User Count: 1
Country Code: 54, User Count: 1
Country Code: 48, User Count: 1
Country Code: 420, User Count: 1
Country Code: 380, User Count: 1
Country Code: 370, User Count: 1
Country Code: 351, User Count: 1
Country Code: 249, User Count: 1
Country Code: 229, User Count: 1
Country Code: 1, User Count: 1